<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Accepted Requests Page
	</title>
</head>
<body>
	<h1>
	My Accepted Requests
	</h1>
	<main>
		<p>
			Accepted Requests:
		</p>
	</main>

        <ul>
        {{#each AcceptedRequests}}
            <li>
				Course : {{ course }}<br>
                Topic : {{ topic }}<br> 
				Preferred time of meet: {{ time }}<br>
				Preferred location of meet: {{ location }}<br>
				Status: {{ status }}<br><br>
            </li>
        {{/each}}
        </ul>

  <a href= "/dashboard" method= "get">Go Back to Dashboard</a>
</body>
</html>